<template>
  <v-app>
    <div>
      <v-dialog
          v-model="open"
          width="500"
      >
        <v-card>
          <v-card-title class="headline grey lighten-2">Token</v-card-title>
          <v-card-text>
            <v-alert
                v-if="error"
                type="error"
            >Wrong data</v-alert>
            <v-alert
                v-if="token"
                type="success"
            >
              {{ token }}
            </v-alert>
            <v-col>
              <v-select
                  v-model="user_id"
                  :items="users"
                  :menu-props="{ maxHeight: '400' }"
                  label="Select User"
                  hint="User"
              ></v-select>
              <v-select
                  v-model="list"
                  :items="api_list"
                  :menu-props="{ maxHeight: '400' }"
                  label="Select"
                  multiple
                  hint="APIS"
              ></v-select>
            </v-col>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                color="warning"
                text
                @click="closeModel"
            >
              Close
            </v-btn>
            <v-btn
                color="primary"
                text
                @click="saveItem"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-app>
</template>

<script>

export default {
  name: "EditCreate",
  props: {
    token: String,
    open: Boolean,
    save: Function,
    api_list: Array,
    close: Function,
    error: Boolean,
    users: Array,
  },
  data: function() {
    return {
      list: [],
      user_id: 0,
    }
  },
  methods: {
    saveItem() {
      this.save({
        ips: this.list,
        user_id: this.user_id
      });
    },
    closeModel() {
      this.close();
    },
  }
}
</script>

<style scoped>

</style>