<template>
  <div>
    <Template />
  </div>
</template>

<script>
import Template from "@/components/Template";

export default {
  components: { Template },
  name: "Tokens"
}
</script>

<style scoped>

</style>