<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Tokens</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
          color="primary"
          dark
          class="mb-2"
          @click="createToken"
      >
        New Token
      </v-btn>
    </v-toolbar>
    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-center">User Name</th>
          <th class="text-center">Token</th>
          <th class="text-center">Created Date</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in tokens.items"
            :key="item.id"
        >
          <td>{{ item.name }}</td>
          <td>{{ item.token }}</td>
          <td>{{ transformDate(item.created_at) }}</td>
          <td>
            <v-icon
                small
                class="mr-2"
                @click="deleteItem(item)"
            >
              mdi-delete
            </v-icon>
          </td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
    <div v-if="tokens.meta.totalPages > 1" class="text-center">
      <v-pagination
          v-model="tokens.meta.currentPage"
          :length="tokens.meta.totalPages"
          :total-visible="tokens.meta.itemsPerPage"
          @input="changePage"
      ></v-pagination>
    </div>
    <EditCreate
        v-bind:open="dialog"
        v-bind:close="closeModal"
        v-bind:save="saveItem"
        v-bind:error="save_error"
        v-bind:api_list="api_list"
        v-bind:token="token"
        v-bind:users="users"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import moment from 'moment';
import EditCreate from '@/components/pages/tokens/EditCreate';

export default {
  name: "TokensPageComponent",
  components: { EditCreate },
  data: function () {
    return {
      is_admin: localStorage.getItem('is_admin') === 'true',
      dialog: false,
    }
  },
  computed: mapState({
    tokens: state => state.Token.tokens,
    api_list: state => state.Token.api_list,
    save_error: state => state.Token.save_error,
    token: state => state.Token.token,
    users: state => state.Token.users,
  }),
  methods: {
    transformDate(date) {
      return moment(date).format('YYYY-MM-DD HH:mm:ss');
    },
    changePage(page) {
      this.$store.dispatch('tokens', page);
    },
    closeModal() {
      this.dialog = false;
      this.edit_item = this.itemData();
    },
    async deleteItem(item) {
      if(confirm('Are you sure you want to delete this item?')) {
        await this.$store.dispatch('deleteToken', item.id);
      }
    },
    saveItem(item) {
      let payload = {
        ips: item.ips,
        user_id: item.user_id
      };

      this.$store.dispatch('saveToken', payload);
    },
    createToken() {
      this.$store.dispatch('changeTokenData', '');
      this.edit_item = this.itemData();
      this.dialog = true;
    },
    itemData() {
      return [];
    }
  },
  mounted() {
    this.$store.dispatch('apiList');
    this.$store.dispatch('tokens');
    this.$store.dispatch('tokenUsers');
  }
}
</script>

<style scoped>

</style>