<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Passengers</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">First Name</th>
          <th class="text-center">Last Name</th>
          <th class="text-center">email</th>
          <th class="text-center">mobile</th>
          <th class="text-center">whatsapp</th>
          <th class="text-center">Firestore Data</th>
          <th class="text-center">Mute Bot</th>
          <th class="text-center">Confirmed Messaging</th>
          <th class="text-center">sent_24afterRegister</th>
          <th class="text-center">sent_24beforeFlight</th>
          <th class="text-center">Last Message Date</th>
          <th class="text-center">created date</th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in passengers.items"
            :key="item.id"
        >
          <td>{{ item.name }}</td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.mobile }}</td>
          <td>{{ item.whatsapp }}</td>
          <td>{{ item.firestoreData }}</td>
          <td>{{ item.muteBot }}</td>
          <td>{{ item.confirmed_messaging }}</td>
          <td>{{ item.sent_24afterRegister }}</td>
          <td>{{ item.sent_24beforeFlight }}</td>
          <td>{{ transformDate(item.lastMessageDate) }}</td>
          <td>{{ transformDate(item.created) }}</td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
    <div v-if="passengers.meta.totalPages > 1" class="text-center">
      <v-pagination
          v-model=passengers.meta.currentPage
          :value=passengers.meta.currentPage
          length=passengers.meta.totalPages
          :total-visible=passengers.meta.itemsPerPage
          @input="changePage"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
  import { mapState } from "vuex";
  import moment from 'moment';

  export default {
    name: "PassengersPageComponent",
    data() {
      return {

      };
    },
    computed: mapState({
      passengers: state => state.Passenger.passengers
    }),
    methods: {
      transformDate(date) {
        return moment(date).format('YYYY-MM-DD HH:mm:ss');
      },
      changePage(page) {
        this.$store.dispatch('passengers', page);
      },
    },
    mounted() {
      this.$store.dispatch('passengers');
    }
  }
</script>

<style scoped>

</style>