<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Users</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
          v-if="is_admin"
          color="primary"
          dark
          class="mb-2"
          @click="createAirline"
      >
        New Airline
      </v-btn>
    </v-toolbar>
    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Code</th>
          <th class="text-center">phone</th>
          <th class="text-center">created date</th>
          <th v-if="is_admin">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in airlines.items"
            :key="item.id"
        >
          <td>{{ item.name }}</td>
          <td>{{ item.code }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ transformDate(item.created_at) }}</td>
          <td v-if="is_admin">
            <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
                small
                class="mr-2"
                @click="deleteItem(item)"
            >
              mdi-delete
            </v-icon>
          </td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
    <div v-if="airlines.meta.totalPages > 1" class="text-center">
      <v-pagination
          v-model="airlines.meta.currentPage"
          :length="airlines.meta.totalPages"
          :total-visible="airlines.meta.itemsPerPage"
          @input="changePage"
      ></v-pagination>
    </div>
    <EditCreate
        v-bind:open="dialog"
        v-bind:close="closeModal"
        v-bind:save="saveItem"
        v-bind:airline="edit_item"
        v-bind:error="save_error"
    />
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import moment from 'moment';
  import EditCreate from '@/components/pages/airline/EditCreate';

  export default {
    data: function () {
      return {
        is_admin: localStorage.getItem('is_admin') === 'true',
        dialog: false,
        edit_item: this.itemData(),
      };
    },
    components: {
      EditCreate
    },
    name: "AirlinesPageComponent",
    computed: mapState({
      airlines: state => state.Airline.airlines,
      save_error: state => state.Airline.save_error
    }),
    methods: {
      transformDate(date) {
        return moment(date).format('YYYY-MM-DD HH:mm:ss');
      },
      changePage(page) {
        this.$store.dispatch('airlines', page);
      },
      closeModal() {
        this.dialog = false;
        this.edit_item = this.itemData();
      },
      async deleteItem(item) {
        if(confirm('Are you sure you want to delete this item?')) {
          await this.$store.dispatch('deleteAirline', item.id);
        }
      },
      editItem(item) {
        this.edit_item = item;
        this.dialog = true;
      },
      saveItem(item) {
        let payload = {
          name: item.name,
          code: item.code,
          phone: item.phone,
        };

        if (item.id)
          payload.id = item.id;

        this.$store.dispatch('updateOrSaveAirline', payload);

        if (this.save_error)
          this.closeModal();
      },
      createAirline() {
        this.edit_item = this.itemData();
        this.dialog = true;
      },
      itemData() {
        return {
          id: 0,
          name: '',
          code: '',
          phone: ''
        };
      }
    },
    mounted() {
      this.$store.dispatch('airlines');
    }
  }
</script>

<style scoped>

</style>