<template>
  <v-app>
    <div>
      <v-dialog
          v-model="open"
          width="500"
      >
        <v-card v-click-outside="closeModel">
          <v-card-title class="headline grey lighten-2">{{ airline.id ? "Edit" : "Create" }} Airline</v-card-title>

          <v-card-text>
            <v-alert v-if="error" type="error">Wrong data</v-alert>
            <v-form>
              <v-text-field
                  v-model="airline.name"
                  label="Name"
                  hide-details="auto"
                  autofocmplete="off"
              ></v-text-field>
              <v-text-field
                  v-model="airline.code"
                  label="Code"
                  hide-details="auto"
                  autofocmplete="off"
              ></v-text-field>
              <v-text-field
                  v-model="airline.phone"
                  label="Phone"
                  hide-details="auto"
                  autocomplete="off"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                color="warning"
                text
                @click="closeModel"
            >
              Close
            </v-btn>
            <v-btn
                color="primary"
                text
                @click="saveItem"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-app>
</template>

<script>

export default {
  name: "EditCreate",
  props: {
    open: Boolean,
    save: Function,
    airline: Object,
    close: Function,
    error: Boolean,
  },
  data: function() {
    return {

    }
  },
  methods: {
    closeModel() {
      this.close();
    },
    saveItem() {
      this.save(this.airline)
    }
  }
}
</script>

<style scoped>

</style>