<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Users Trips</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-center">User Id</th>
          <th class="text-center">Trip Id</th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in user_trips.items"
            :key="item.id"
        >
          <td>{{item.user_id}}</td>
          <td>{{item.trip_id}}</td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
    <div v-if="user_trips.meta.totalPages > 1" class="text-center">
      <v-pagination
          v-model="user_trips.meta.currentPage"
          :length="user_trips.meta.totalPages"
          :total-visible="user_trips.meta.itemsPerPage"
          @input="changePage"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
  import {mapState} from "vuex";

  export default {
    name: "UserTripPageComponent",
    data() {
      return {

      };
    },
    computed: mapState({
      user_trips: state => state.UserTrip.user_trips
    }),
    methods: {
      changePage(page) {
        this.$store.dispatch('userTrips', page);
      },
    },
    mounted() {
      this.$store.dispatch('userTrips');
    }
  }
</script>

<style scoped>

</style>