<template>
  <div>
    <v-list>
      <v-list-item
          v-for="link in links"
          :key="link.path"
          link
      >
        <v-list-item-content>
          <v-list-item-title class="active">
            <router-link :to="link.path">{{ link.text }}</router-link>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
  export default {
    name: "LeftNavBar",
    data() {
      return {
        links: [
          {
            text: 'Passengers',
            path: '/passengers'
          },
          {
            text: 'Company',
            path: '/company'
          },
          {
            text: 'Flight',
            path: '/flight'
          },
          {
            text: 'Trip',
            path: '/trip'
          },
          {
            text: 'User Trip',
            path: '/user-trip'
          },
          {
            text: 'Airlines',
            path: '/airlines'
          },
          {
            text: 'Tokens',
            path: '/tokens'
          }
        ]
      }
    }
  }
</script>