<template>
  <v-row>
    <v-col cols="2">
      <LeftNavBar />
    </v-col>
    <v-col cols="10">
      <component v-bind:is="page"></component>
    </v-col>
  </v-row>
</template>

<script>
  import LeftNavBar from "@/components/LeftNavBar";
  import HomePageComponent from "@/components/pages/home/HomePageComponent";
  import AirlinesPageComponent from "@/components/pages/airline/AirlinesPageComponent";
  import TokensPageComponent from "@/components/pages/tokens/TokensPageComponent";
  import PassengersPageComponent from "@/components/pages/passengers/PassengersPageComponent";
  import CompanyPageComponent from "@/components/pages/company/CompanyPageComponent";
  import FlightPageComponent from "@/components/pages/flight/FlightPageComponent";
  import TripPageComponent from "@/components/pages/trip/TripPageComponent";
  import UserTripPageComponent from "@/components/pages/userTrip/UserTripPageComponent";

  export default {
    name: "Template",
    data(){
      return {
        page: this.$route.name
      }
    },
    components: {
      LeftNavBar,
      home: HomePageComponent,
      airlines: AirlinesPageComponent,
      tokens: TokensPageComponent,
      passengers: PassengersPageComponent,
      company: CompanyPageComponent,
      flight: FlightPageComponent,
      trip: TripPageComponent,
      user_trip: UserTripPageComponent
    }
  }
</script>