<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Trips</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-center">Flight Trip Id</th>
          <th class="text-center">Trip Id</th>
          <th class="text-center">Seq</th>
          <th class="text-center">Conn Time</th>
          <th class="text-center">Conn Data</th>
          <th class="text-center">Sent Landed</th>
          <th class="text-center">Sent 4hrs</th>
          <th class="text-center">Sent 24hrs</th>
          <th class="text-center">Sent Baggage</th>
          <th class="text-center">Sent JNF</th>
          <th class="text-center">Sent Directions</th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in trips.items"
            :key="item.id"
        >
          <td>{{item.flight_trip_id}}</td>
          <td>{{item.trip_id}}</td>
          <td>{{item.seq}}</td>
          <td>{{item.conn_time}}</td>
          <td>{{item.conn_data}}</td>
          <td>{{item.sent_landed}}</td>
          <td>{{item.sent_4hrs}}</td>
          <td>{{item.sent_24hrs}}</td>
          <td>{{item.sent_baggage}}</td>
          <td>{{item.sent_JNF}}</td>
          <td>{{item.sent_directions}}</td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
    <div v-if="trips.meta.totalPages > 1" class="text-center">
      <v-pagination
          v-model="trips.meta.currentPage"
          :length="trips.meta.totalPages"
          :total-visible="trips.meta.itemsPerPage"
          @input="changePage"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
  import { mapState } from "vuex";

  export default {
    name: "TripPageComponent",
    data() {
      return {

      };
    },
    computed: mapState({
      trips: state => state.Trip.trips
    }),
    methods: {
      changePage(page) {
        this.$store.dispatch('trips', page);
      },
    },
    mounted() {
      this.$store.dispatch('trips');
    }
  }
</script>

<style scoped>

</style>