<template>
  <div>
    <Template />
  </div>
</template>

<script>
  import Template from "@/components/Template";

  export default {
    name: "Trip",
    components: {
      Template
    }
  }
</script>

<style scoped>

</style>