<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Companies</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Credits</th>
          <th class="text-center">Firestore Data</th>
          <th class="text-center">Created Date</th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in companies.items"
            :key="item.id"
        >
          <td>{{ item.name }}</td>
          <td>{{ item.credits }}</td>
          <td>{{ item.firestoreData }}</td>
          <td>{{ transformDate(item.created) }}</td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
    <div v-if="companies.meta.totalPages > 1" class="text-center">
      <v-pagination
          v-model="companies.meta.currentPage"
          :length="companies.meta.totalPages"
          :total-visible="companies.meta.itemsPerPage"
          @input="changePage"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
  import { mapState } from "vuex";
  import moment from "moment";

  export default {
    name: "CompanyPageComponent",
    data() {
      return {

      };
    },
    computed: mapState({
      companies: state => state.Company.companies
    }),
    methods: {
      transformDate(date) {
        return moment(date).format('YYYY-MM-DD HH:mm:ss');
      },
      changePage(page) {
        this.$store.dispatch('companies', page);
      },
    },
    mounted() {
      this.$store.dispatch('companies');
    }
  }
</script>

<style scoped>

</style>