<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Flights</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-center">flightNo</th>
          <th class="text-center">realFlightNo</th>
          <th class="text-center">is Seq</th>
          <th class="text-center">Connection Time</th>
          <th class="text-center">Operating Carrier</th>
          <th class="text-center">Marketed Carrier</th>
          <th class="text-center">Status Name</th>
          <th class="text-center">Lumo Risk</th>
          <th class="text-center">Active</th>
          <th class="text-center">Cancelled</th>
          <th class="text-center">Diverted</th>
          <th class="text-center">Departure Date</th>
          <th class="text-center">Scheduled Departure</th>
          <th class="text-center">Estimated Departure</th>
          <th class="text-center">Updated Estimated Departure</th>
          <th class="text-center">Scheduled Departure DateLocal</th>
          <th class="text-center">Scheduled Departure TimeLocal</th>
          <th class="text-center">Estimated Departure DateLocal</th>
          <th class="text-center">Estimated Departure TimeLocal</th>
          <th class="text-center">Scheduled Arrival</th>
          <th class="text-center">Estimated Arrival</th>
          <th class="text-center">Updated Estimated Arrival</th>
          <th class="text-center">Scheduled Arrival DateLocal</th>
          <th class="text-center">Scheduled Arrival TimeLocal</th>
          <th class="text-center">Estimated Arrival DateLocal</th>
          <th class="text-center">Estimated Arrival TimeLocal</th>
          <th class="text-center">Origin</th>
          <th class="text-center">Destination</th>
          <th class="text-center">Diversion Airport</th>
          <th class="text-center">Origin Terminal</th>
          <th class="text-center">Origin Gate</th>
          <th class="text-center">Destination Terminal</th>
          <th class="text-center">Destination Gate</th>
          <th class="text-center">Destination Baggage</th>
          <th class="text-center">Plane Type</th>
          <th class="text-center">Tail No</th>
          <th class="text-center">Lumo Id</th>
          <th class="text-center">Flightstats Id</th>
          <th class="text-center">Firestore Id</th>
          <th class="text-center">Firestore Passenger</th>
          <th class="text-center">Firestore Data</th>
          <th class="text-center">Initial Lumo Data</th>
          <th class="text-center">Initial Flight Stats Data</th>
          <th class="text-center">Created Date</th>
          <th class="text-center">Updated Date</th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in flights.items"
            :key="item.id"
        >
          <td>{{ item.flightNo }}</td>
          <td>{{item.realFlightNo}}</td>
          <td>{{item.isSeq}}</td>
          <td>{{item.conn_time}}</td>
          <td>{{item.operatingCarrier}}</td>
          <td>{{item.operatingCarrier}}</td>
          <td>{{item.marketedCarrier}}</td>
          <td>{{item.statusName}}</td>
          <td>{{item.lumoRisk}}</td>
          <td>{{item.active}}</td>
          <td>{{item.cancelled}}</td>
          <td>{{item.diverted}}</td>
          <td>{{item.departureDate}}</td>
          <td>{{item.scheduledDeparture}}</td>
          <td>{{item.estimatedDeparture}}</td>
          <td>{{item.updatedEstimatedDeparture}}</td>
          <td>{{item.scheduledDepartureDateLocal}}</td>
          <td>{{item.scheduledDepartureTimeLocal}}</td>
          <td>{{item.estimatedDepartureDateLocal}}</td>
          <td>{{item.estimatedDepartureTimeLocal}}</td>
          <td>{{item.scheduledArrival}}</td>
          <td>{{item.estimatedArrival}}</td>
          <td>{{item.updatedEstimatedArrival}}</td>
          <td>{{item.scheduledArrivalDateLocal}}</td>
          <td>{{item.scheduledArrivalTimeLocal}}</td>
          <td>{{item.estimatedArrivalDateLocal}}</td>
          <td>{{item.estimatedArrivalTimeLocal}}</td>
          <td>{{item.origin}}</td>
          <td>{{item.destination}}</td>
          <td>{{item.diversionAirport}}</td>
          <td>{{item.originTerminal}}</td>
          <td>{{item.originGate}}</td>
          <td>{{item.destinationTerminal}}</td>
          <td>{{item.destinationGate}}</td>
          <td>{{item.destinationBaggage}}</td>
          <td>{{item.planeType}}</td>
          <td>{{item.tailNo}}</td>
          <td>{{item.lumoId}}</td>
          <td>{{item.flightstatsId}}</td>
          <td>{{item.firestoreId}}</td>
          <td>{{item.firestorePassenger}}</td>
          <td>{{item.firestoreData}}</td>
          <td>{{item.initialLumoData}}</td>
          <td>{{item.initialFlightStatsData}}</td>
          <td>{{ transformDate(item.created) }}</td>
          <td>{{ transformDate(item.updated) }}</td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
    <div v-if="flights.meta.totalPages > 1" class="text-center">
      <v-pagination
          v-model="flights.meta.currentPage"
          :length="flights.meta.totalPages"
          :total-visible="flights.meta.itemsPerPage"
          @input="changePage"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
  import { mapState } from "vuex";
  import moment from "moment";

  export default {
    name: "FlightPageComponent",
    data() {
      return {

      };
    },
    computed: mapState({
      flights: state => state.Flight.flights
    }),
    methods: {
      transformDate(date) {
        return moment(date).format('YYYY-MM-DD HH:mm:ss');
      },
      changePage(page) {
        this.$store.dispatch('flights', page);
      },
    },
    mounted() {
      this.$store.dispatch('flights');
    }
  }
</script>

<style scoped>

</style>